/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,.body{
  background-color: #080808c0;
  height:100%;
}

.weather{
  background:#8fd3102d;
  height: 400px;
}

agm-map {
    height: 400px;
  }

.jumb {
  height :500px;
}

.form1 {
  color:whitesmoke;
  border-radius: 10px;
}